.app {
    position: absolute;
    inset: 0;
    margin: auto;
    background: #444;
}

.title {
    color: #fff;
    text-align: center;
}

.table {

}


.fila {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}


.fila__input {
    height: 40px;
    width: 40px;
    padding: 10px;
}


.minitable {
    background: #eee;
    padding: 10px;
}